:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 0);
        padding-bottom: calc(var(--jumbotron-padding-y) * 1);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 60rem;
}

h2 {
    font-weight: 200;
}

h6 {
    font-weight: 60;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.card .wrapper {
    position: relative;
    overflow: hidden;
    max-height: 190px;
}

.company-main .wrapper {
    position: relative;
    overflow: hidden;
    max-height: 500px;
}
   .wrapper :after {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .wrapper img {
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 5px;
    }
    #map{
        height:250px;
    }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.card-title{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}