    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Company Guide and Company Information</h1>
            <p class="lead text-muted">
               {{model.description}}
            </p>
        </div>
    </section> 

    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Recently Added Companies</h2><hr>
            <div class="row text-center">
                <div class="col-md-3" *ngFor='let item of model.recentlyCompanies'>
                    <div class="card mb-3 box-shadow">
                        <div class="wrapper">
                            <a href="#">
                                <img class="card-img-top img-fluid" src="{{item.image}}" alt="{{item.name}}">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">{{item.name }}</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="album py-5 bg-white">
        <div class="container">
            <h2>Most Popular Companies</h2><hr>
            <div class="row text-center">
                <div class="col-md-3" *ngFor='let item of model.popularCompaines'>
                    <div class="card mb-3 box-shadow">
                        <div class="wrapper">
                            <a href="#">
                                <img class="card-img-top img-fluid" src="{{item.image}}" alt="{{item.name}}">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">{{item.name }}</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="album py-5 bg-light">

            <p class="lead text-center">
                    We Have <kbd>{{ model.companyCount | number }}</kbd> companies information in firmsgeo.com. 
                    We have <kbd>{{model.categoryCount | number }}</kbd> unique categories.
                </p>

        <div class="container">
            <h2>Most Popular Companies</h2><hr>
            <div class="row text-center">
                <div class="col-md-3" *ngFor='let item of model.homePageCategories'>
                    <div class="card mb-3 box-shadow">
                        <div class="wrapper">
                            <a href="#">
                                <img class="card-img-top img-fluid" src="{{item.image}}" alt="{{item.name}}">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">{{item.name }}</h6></a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>