<header>
  <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a class="navbar-brand" href=""><mark></mark></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><strong style="font-size: 26px">+</strong></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
          <li class="nav-item active" *ngFor='let item of model'>
            <a class="nav-link" routerLink="/catalog/category/{{item.url}}">{{item.name}}</a>
          </li>
      </ul>
    </div>
  </nav>
</header>