<div class="text-center mb-3">
    reklam gelecek
  </div>
  
  <main role="main">
      <div class="album py-3 bg-white">
          <div class="container">
  
              <h1>{{model.name}}</h1>
              <p class="lead">
                  {{model.metaDescription}}
              </p>
  
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a  routerLink="" title="Home">Home</a></li>
                  
                     
                          <li class="breadcrumb-item" *ngFor='let item of model.breadcrumb.categoryBreadcrumb'>
                              <a routerLink="/catalog/category/{{item.url}}">{{item.name}}</a>
                            </li>
                        
                          <li class="breadcrumb-item active" aria-current="page">{{model.breadcrumb.displayName}}</li>
                  </ol>
              </nav>
  
            
  
              <!-- <div class="row text-center">
                  @if (Model.Companies.Any())
                  {
                      foreach (var item in Model.Companies)
                      {
                          @Html.Partial("_CompanyBox", item)
                      }
                  }
              </div> -->
          </div>
      </div>
  </main>
  
  <!-- 
  <nav aria-label="Page navigation example">
      @{
          var pager = Html.Pager(Model.FilterModel).QueryParam("pagenumber");
          if (!pager.IsEmpty())
          {
              @pager
          }
      }
  </nav> -->